/* Stylesheet by Theodore Nguyen, 2021 */

#mapid { 
	height: 400px;
        width: 100%; 
	display: inline-block; 
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#panel {
	width: 25%;
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	line-height: 42px;
}

.range-slider {
	width: 55%;
}

.step {
	width: 20%;
}

.step img {
	width: 100%;
}

#forward {
	float: right;
}

#reverse {
	float: left;
}

Map {
  -torque-frame-count: 1;
  -torque-animation-duration: 30;
  -torque-time-attribute: "cartodb_id";
  -torque-aggregation-function: "sum(total_visits)";
  -torque-resolution: 3;
  -torque-data-aggregation: linear;
}
#layer {
  marker-width: 12;
  marker-fill: white;
  marker-fill-opacity: 1;
  marker-file: url(https://cartodb-libs.global.ssl.fastly.net/cartodbui/assets/unversioned/images/alphamarker.png);
  marker-allow-overlap: true;
  marker-line-width: 1;
  marker-line-color: #FFFFFF;
  marker-line-opacity: 1;
  image-filters: colorize-alpha(#4b2991,#872ca2,#c0369d,#ea4f88,#fa7876,#f6a97a,#edd9a3);
}
