/* Stylesheet by Theodore Nguyen, 2021 */

#mapid { 
	height: 400px;
        width: 100%; 
	display: inline-block; 
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#panel {
	width: 25%;
	padding: 20px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	line-height: 42px;
}

.range-slider {
	width: 55%;
}

.step {
	width: 20%;
}

.step img {
	width: 100%;
}

#forward {
	float: right;
}

#reverse {
	float: left;
}

#ts-map-legend {
  background: #FFF;
  padding: 0px;
  margin: 12px;
  font-size: 12px;
  font-family: Arial, sans-serif; 
  overflow: hidden; 
  text-align: left; 
  color: rgb(86, 86, 86); 
  font-family: Roboto,Arial,sans-serif; 
  -moz-user-select: none; 
  font-size: 11px; 
  background-color: rgb(255, 255, 255); padding: 8px; 
  border-radius: 2px; 
  background-clip: padding-box; 
  box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); 
  border-left: 0px none;
}
#ts-map-legend p{
  margin 0 0 0 0 !important;

}
h3.ts-map-legend-headline{
  margin:0 !important;
  padding:0 !important;
  text-align:center;
}

.ts-map-legend-color {
  height: 12px;
  width: 12px;
  margin-right: 3px;
  float: left;
  border-radius: 12px;
}

.ts-map-legend-color-red {
  background: #f14b3e;
}

.ts-map-legend-color-orange {
  background: #f18c3e;
}

.ts-map-legend-color-yellow {
  background: #f5c155;
}

.ts-map-legend-color-blue {
  background: #2a9af5;
}

.ts-map-legend-color-green {
  background: #8dc73f;
}
